<a href="https://colab.research.google.com/github/Risad-Raihan/ops_segmentation/blob/main/Credit_limit_calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
df1= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/customer_info_1.csv')

In [4]:
df1.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.0,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1

In [5]:
df2= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/customer_info_2.csv')

In [6]:
df2.head(5)

  HR_Code                      DOB  family_member
0  018890  1974-12-12 00:00:00.000              1
1  018891  1989-03-25 00:00:00.000              1
2  018918  1982-08-10 00:00:00.000              1
3  018920  1983-04-01 00:00:00.000              1
4  018928  1980-05-04 00:00:00.000              1

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130478 entries, 0 to 130477
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         130478 non-null  object
 1   HR_Code           130478 non-null  object
 2   Outlet_Name       130478 non-null  object
 3   Gender            109596 non-null  object
 4   Religion          43342 non-null   object
 5   Monthly_Salary    130478 non-null  float64
 6   Credit_Limit      130476 non-null  float64
 7   Joining_Date      130456 non-null  object
 8   Designation       126635 non-null  object
 9   IsRegisteredUser  130478 non-null  int64
 10  Customer_Name     130478 non-null  object
 11  Login_Id          3048 non-null    float64
 12  Registered_Date   3048 non-null    object
 13  isActive          130478 non-null  int64
dtypes: float64(3), int64(2), object(9)
memory usage: 13.9+ MB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130288 entries, 0 to 130287
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   HR_Code        130288 non-null  object
 1   DOB            130276 non-null  object
 2   family_member  130288 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.0+ MB

In [9]:
import pandas as pd

# Assuming df1 and df2 are your dataframes
merged_df = pd.merge(
    df1,
    df2[['HR_Code', 'DOB', 'family_member']],
    on='HR_Code',
    how='left'
)

In [10]:
merged_df.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.0,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.0,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,0.0,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,0.0,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,0.0,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142111 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  object
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 17.3+ MB

In [12]:
import pandas as pd
import numpy as np

# Assuming merged_df is your dataframe

# Update the Monthly_Salary where it's 0 or NaN
merged_df['Monthly_Salary'] = np.where(
    (merged_df['Monthly_Salary'].isna()) | (merged_df['Monthly_Salary'] == 0),
    merged_df['Credit_Limit'] * 3,
    merged_df['Monthly_Salary']
)

In [13]:
import pandas as pd
from datetime import datetime

# Assuming merged_df is your dataframe and Joining_Date is in string format, first convert it to datetime if needed
merged_df['Joining_Date'] = pd.to_datetime(merged_df['Joining_Date'], errors='coerce')

# Get today's date
today = pd.Timestamp(datetime.today())

# Calculate the difference in months and create a new column called 'Tenure'
merged_df['Tenure'] = (today.year - merged_df['Joining_Date'].dt.year) * 12 + (today.month - merged_df['Joining_Date'].dt.month)

# Fill NaN values with 0 (in case of missing Joining_Date values)
merged_df['Tenure'] = merged_df['Tenure'].fillna(0).astype(int)

In [14]:
merged_df.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.00,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,303
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.00,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN,36
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,118125.00,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,220
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,32512.05,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,220
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,25213.95,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,219

In [15]:
df3= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/c_october.csv')

<ipython-input-15-53b9ad3d6387>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df3= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/c_october.csv')

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130383 entries, 0 to 130382
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Outlet                   130383 non-null  object
 1   APON Code                130383 non-null  object
 2   Name                     130383 non-null  object
 3   HR Code                  130383 non-null  object
 4   Marital Status           130383 non-null  int64
 5   Number of Family Member  130383 non-null  int64
 6   Address                  130371 non-null  object
 7   Contact Number           127813 non-null  object
 8   Email                    1881 non-null    object
 9   Gender                   109451 non-null  object
 10  NID                      7866 non-null    object
 11  DOB                      161 non-null     object
 12  Department               118354 non-null  object
 13  Designation              126560 non-null  object
 14  Joining Date             130379 non-null  object
 15  Gross Salary             130383 non-null  float64
 16  Credit Limit             130361 non-null  float64
 17  isActive                 130383 non-null  int64
 18  dteLastActionDateTime    130383 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 18.9+ MB

In [21]:
import pandas as pd

# Rename the 'APON Code' column in df3 to 'APON_Code'
df3 = df3.rename(columns={'APON Code': 'APON_Code'})

# Now perform the merge
merged_df1 = pd.merge(
    merged_df,
    df3[['APON_Code', 'Contact Number']],
    on='APON_Code',
    how='left'
)

In [22]:
merged_df1.head(5)

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0190000001,BG000007,PICARD,Male,Islam,23100.00,7980.00,1999-06-01,Sr. Fitting Op.,0,Md Wadud,NaN,NaN,1,1972-03-15 00:00:00.000,0.0,303,01884551165
1,AP0180002698,0008592,Green Smart Shirts Ltd.,Male,Islam,17000.00,0.00,2021-09-13,Cutter,1,ARIFA KHATUN,1.911634e+09,2024-04-25,1,NaN,NaN,36,01911633557
2,AP0130000001,0004,Comfit Composite Ltd.,Male,Hindu,118125.00,39375.00,2006-05-02,General Manager,0,Amal Krishna Sarker,NaN,NaN,1,1968-12-31 00:00:00.000,1.0,220,01713432236
3,AP0130000003,0007,Comfit Composite Ltd.,Male,Islam,32512.05,10837.35,2006-05-25,Supervisor,0,Anwar Hossain,NaN,NaN,1,1981-06-10 00:00:00.000,1.0,220,01718415560
4,AP0130000004,0011,Comfit Composite Ltd.,Male,Islam,25213.95,8404.65,2006-06-06,Sr. Supervisor,0,Abdul Awal,NaN,NaN,1,1978-11-10 00:00:00.000,1.0,219,01911085098

In [25]:
df_angel= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/annesha_bokachoda.csv')

In [26]:
df_angel.head(5)

,Shop name,Customer Code,Customer Name,HR Code,L4M SS Count,Purchase amount,Tenure,Mobile Number,Present address,Number of family Member,Gender,DOB,Joining Date
0,Renaissance Apparels Ltd.,AP0030000001,Jakir Hossain Bhuan,10011,4,26575.0,NaN,NaN,NaN,1,NaN,NaN,NaN
1,Renaissance Apparels Ltd.,AP0030000002,Md. Guljar Hossain Chowdury,10018,3,2673.0,NaN,NaN,NaN,1,NaN,NaN,NaN
2,Renaissance Apparels Ltd.,AP0030000003,Mohammad Sanowarul Islam,10027,4,16674.0,NaN,NaN,NaN,1,NaN,NaN,NaN
3,Renaissance Apparels Ltd.,AP0030000006,Mahfuza Akter,NaN,3,2160.0,NaN,NaN,NaN,1,NaN,NaN,NaN
4,Renaissance Apparels Ltd.,AP0030000008,Mst. Suma Khatun,NaN,4,2682.0,NaN,NaN,NaN,1,NaN,NaN,NaN

In [27]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   Customer Code            5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [28]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142109 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  datetime64[ns]
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
 16  Tenure            142111 non-null  int64
 17  Contact Number    139362 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(10)
memory usage: 19.5+ MB

In [37]:
import pandas as pd

# Rename the 'Customer Code' column in df_angel to match 'Customer_Code' in merged_df1
df_angel = df_angel.rename(columns={'Customer_Code': 'APON_Code'})

# Now merge the two dataframes
merged_df_final = pd.merge(
    merged_df1,
    df_angel[['APON_Code']],  # Select only 'Customer_Code' from df_angel
    on='APON_Code',
    how='inner'  # Use 'inner' to only keep the matching rows
)

# Display the result
merged_df_final.head()

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0100000032,104517,Southern Garments Ltd.,Male,Islam,15000.0,5000.0,2014-02-02,Input man,1,Raju Islam,1.738517e+09,2024-09-14,1,1992-10-10 00:00:00.000,1.0,127,01738517041
1,AP0100000036,104973,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2015-06-04,Input man,1,Alomgir,1.321690e+09,2023-07-26,1,1995-04-27 00:00:00.000,1.0,111,01321689584
2,AP0100000037,104974,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2015-06-04,Input man,1,Zahidul Islam,1.725257e+09,2024-09-24,1,1997-01-11 00:00:00.000,1.0,111,01725257494
3,AP0100000045,105823,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2018-01-02,Gr.Writter man,1,Soleman,1.305083e+09,2024-09-01,1,1996-01-01 00:00:00.000,1.0,80,01305082749
4,AP0100000047,105926,Southern Garments Ltd.,Male,Islam,9000.0,3000.0,2018-04-03,Gr. Bundle man,1,Bappy Sarker,1.737323e+09,2024-09-15,1,1989-01-06 00:00:00.000,1.0,77,01737322792

In [38]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   APON_Code                5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [35]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   APON_Code         142111 non-null  object
 1   HR_Code           142111 non-null  object
 2   Outlet_Name       142111 non-null  object
 3   Gender            119557 non-null  object
 4   Religion          51131 non-null   object
 5   Monthly_Salary    142109 non-null  float64
 6   Credit_Limit      142109 non-null  float64
 7   Joining_Date      142088 non-null  datetime64[ns]
 8   Designation       138144 non-null  object
 9   IsRegisteredUser  142111 non-null  int64
 10  Customer_Name     142111 non-null  object
 11  Login_Id          3201 non-null    float64
 12  Registered_Date   3201 non-null    object
 13  isActive          142111 non-null  int64
 14  DOB               141990 non-null  object
 15  family_member     142003 non-null  float64
 16  Tenure            142111 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 18.4+ MB

In [39]:
merged_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5718 entries, 0 to 5717
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   APON_Code         5718 non-null   object
 1   HR_Code           5718 non-null   object
 2   Outlet_Name       5718 non-null   object
 3   Gender            4276 non-null   object
 4   Religion          2080 non-null   object
 5   Monthly_Salary    5718 non-null   float64
 6   Credit_Limit      5718 non-null   float64
 7   Joining_Date      5718 non-null   datetime64[ns]
 8   Designation       5586 non-null   object
 9   IsRegisteredUser  5718 non-null   int64
 10  Customer_Name     5718 non-null   object
 11  Login_Id          1102 non-null   float64
 12  Registered_Date   1102 non-null   object
 13  isActive          5718 non-null   int64
 14  DOB               5718 non-null   object
 15  family_member     5718 non-null   float64
 16  Tenure            5718 non-null   int64
 17  Contact Number    5718 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(10)
memory usage: 804.2+ KB

In [40]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   APON_Code                5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [41]:
# Now perform a left join to keep all rows from df_angel
merged_df_final = pd.merge(
    df_angel[['APON_Code']],  # Select only 'APON_Code' from df_angel
    merged_df1,               # Include all columns from merged_df1
    on='APON_Code',
    how='left'                # Use 'left' to keep all rows from df_angel
)

# Display the result
merged_df_final.head()

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0.0,Jakir Hossain Bhuan,NaN,NaN,1.0,1968-01-01 00:00:00.000,1.0,211.0,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0.0,Md. Guljar Hossain Chowdury,NaN,NaN,1.0,1972-05-02 00:00:00.000,1.0,208.0,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1964-01-09 00:00:00.000,1.0,236.0,03734011378
3,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1989-04-10 00:00:00.000,1.0,236.0,03734011378
4,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1.0,Mahfuza Akter,1.684701e+09,2024-09-28,1.0,1986-01-21 00:00:00.000,1.0,155.0,01684700985

In [42]:
merged_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5972 entries, 0 to 5971
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   APON_Code         5972 non-null   object
 1   HR_Code           5718 non-null   object
 2   Outlet_Name       5718 non-null   object
 3   Gender            4276 non-null   object
 4   Religion          2080 non-null   object
 5   Monthly_Salary    5718 non-null   float64
 6   Credit_Limit      5718 non-null   float64
 7   Joining_Date      5718 non-null   datetime64[ns]
 8   Designation       5586 non-null   object
 9   IsRegisteredUser  5718 non-null   float64
 10  Customer_Name     5718 non-null   object
 11  Login_Id          1102 non-null   float64
 12  Registered_Date   1102 non-null   object
 13  isActive          5718 non-null   float64
 14  DOB               5718 non-null   object
 15  family_member     5718 non-null   float64
 16  Tenure            5718 non-null   float64
 17  Contact Number    5718 non-null   object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 839.9+ KB

In [43]:
# Remove duplicates in df_angel if there are any
df_angel = df_angel.drop_duplicates(subset=['APON_Code'])

In [46]:
# Perform an inner merge and then drop any duplicates
merged_df_final = pd.merge(
    df_angel[['APON_Code']],  # Select only 'APON_Code' from df_angel
    merged_df1,               # Merge with merged_df1
    on='APON_Code',
    how='inner'               # Use 'inner' join to only keep matching rows
)

# Drop any potential duplicates
merged_df_final = merged_df_final.drop_duplicates(subset=['APON_Code'])

# Display the result
print(len(merged_df_final))  # Should be 5576 rows
merged_df_final.head()

5322

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0,Jakir Hossain Bhuan,NaN,NaN,1,1968-01-01 00:00:00.000,1.0,211,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0,Md. Guljar Hossain Chowdury,NaN,NaN,1,1972-05-02 00:00:00.000,1.0,208,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0,Mohammad Sanowarul Islam,NaN,NaN,1,1964-01-09 00:00:00.000,1.0,236,03734011378
4,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1,Mahfuza Akter,1.684701e+09,2024-09-28,1,1986-01-21 00:00:00.000,1.0,155,01684700985
5,AP0030000008,10062,Renaissance Apparels Ltd.,Female,Islam,20790.0,6930.0,2012-09-19,Nurse,1,Mst. Suma Khatun,1.755265e+09,2024-09-15,1,1995-03-06 00:00:00.000,1.0,144,01755265191

In [45]:
df_angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5576 entries, 0 to 5575
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Shop name                5576 non-null   object
 1   APON_Code                5576 non-null   object
 2   Customer Name            5576 non-null   object
 3   HR Code                  5169 non-null   object
 4   L4M SS Count             5576 non-null   int64
 5   Purchase amount          5576 non-null   float64
 6   Tenure                   0 non-null      float64
 7   Mobile Number            0 non-null      float64
 8   Present address          0 non-null      float64
 9   Number of family Member  5576 non-null   int64
 10  Gender                   0 non-null      float64
 11  DOB                      0 non-null      float64
 12  Joining Date             0 non-null      float64
dtypes: float64(7), int64(2), object(4)
memory usage: 566.4+ KB

In [47]:
# Perform a left join to keep all rows from df_angel
merged_df_final = pd.merge(
    df_angel[['APON_Code']],  # Select only 'APON_Code' from df_angel
    merged_df1,               # Include all columns from merged_df1
    on='APON_Code',
    how='left'                # Use 'left' to keep all rows from df_angel
)

# Display the result
print(len(merged_df_final))  # Should be 5576 rows
merged_df_final.head()

5972

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0.0,Jakir Hossain Bhuan,NaN,NaN,1.0,1968-01-01 00:00:00.000,1.0,211.0,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0.0,Md. Guljar Hossain Chowdury,NaN,NaN,1.0,1972-05-02 00:00:00.000,1.0,208.0,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1964-01-09 00:00:00.000,1.0,236.0,03734011378
3,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1989-04-10 00:00:00.000,1.0,236.0,03734011378
4,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1.0,Mahfuza Akter,1.684701e+09,2024-09-28,1.0,1986-01-21 00:00:00.000,1.0,155.0,01684700985

In [50]:
# Now perform a left join, using the cleaned version of merged_df1
merged_df_final = pd.merge(
    df_angel[['APON_Code']],   # Select only 'APON_Code' from df_angel
    merged_df1_cleaned,        # Use the cleaned df without duplicates
    on='APON_Code',
    how='left'                 # Use 'left' to keep all rows from df_angel
)

# Check the number of rows in the final dataframe
print(len(merged_df_final))  # Should be exactly 5576 rows

# Display the result
merged_df_final.head()

5576

,APON_Code,HR_Code,Outlet_Name,Gender,Religion,Monthly_Salary,Credit_Limit,Joining_Date,Designation,IsRegisteredUser,Customer_Name,Login_Id,Registered_Date,isActive,DOB,family_member,Tenure,Contact Number
0,AP0030000001,10011,Renaissance Apparels Ltd.,Male,Islam,94050.0,31350.0,2007-02-24,"Sr. Manager, HR, Admin & Com",0.0,Jakir Hossain Bhuan,NaN,NaN,1.0,1968-01-01 00:00:00.000,1.0,211.0,03734008502
1,AP0030000002,10018,Renaissance Apparels Ltd.,Male,Islam,43110.0,14370.0,2007-05-01,"Asst. Manager, Admin",0.0,Md. Guljar Hossain Chowdury,NaN,NaN,1.0,1972-05-02 00:00:00.000,1.0,208.0,03734011343
2,AP0030000003,10027,Renaissance Apparels Ltd.,Male,Islam,42192.0,14064.0,2005-01-01,"Asst. Incharge, Store",0.0,Mohammad Sanowarul Islam,NaN,NaN,1.0,1964-01-09 00:00:00.000,1.0,236.0,03734011378
3,AP0030000006,10058,Renaissance Apparels Ltd.,Female,Islam,36360.0,12120.0,2011-10-01,Sr. Executive Welfare,1.0,Mahfuza Akter,1.684701e+09,2024-09-28,1.0,1986-01-21 00:00:00.000,1.0,155.0,01684700985
4,AP0030000008,10062,Renaissance Apparels Ltd.,Female,Islam,20790.0,6930.0,2012-09-19,Nurse,1.0,Mst. Suma Khatun,1.755265e+09,2024-09-15,1.0,1995-03-06 00:00:00.000,1.0,144.0,01755265191

In [49]:
# Remove duplicates from merged_df1 based on APON_Code
merged_df1_cleaned = merged_df1.drop_duplicates(subset=['APON_Code'])

In [51]:
merged_df_final.to_excel('/content/Angel_october.xlsx', index=False)

In [53]:
df_non= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/non_active_cus.csv')

<ipython-input-53-0f3377e27b0b>:1: DtypeWarning: Columns (3,7,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_non= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/non_active_cus.csv')

In [54]:
df_null= pd.read_csv('/content/drive/My Drive/ops_segmentation-main/null.csv')

In [55]:
df_non.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388248 entries, 0 to 388247
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Outlet                   388248 non-null  object
 1   APON Code                388248 non-null  object
 2   Name                     388248 non-null  object
 3   HR Code                  388247 non-null  object
 4   Marital Status           388248 non-null  int64
 5   Number of Family Member  388248 non-null  int64
 6   Address                  388206 non-null  object
 7   Contact Number           368894 non-null  object
 8   Email                    653 non-null     object
 9   Gender                   346494 non-null  object
 10  NID                      17907 non-null   object
 11  DOB                      175 non-null     object
 12  Department               363270 non-null  object
 13  Designation              382915 non-null  object
 14  Joining Date             388244 non-null  object
 15  Gross Salary             388248 non-null  float64
 16  Credit Limit             388133 non-null  float64
 17  isActive                 388248 non-null  int64
 18  dteLastActionDateTime    388248 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 56.3+ MB

In [56]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Code  254 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

In [57]:
df_null= df_null.rename(columns={'Customer Code': 'APON Code'})

In [58]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   APON Code  254 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

In [59]:
df_non.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388248 entries, 0 to 388247
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Outlet                   388248 non-null  object
 1   APON Code                388248 non-null  object
 2   Name                     388248 non-null  object
 3   HR Code                  388247 non-null  object
 4   Marital Status           388248 non-null  int64
 5   Number of Family Member  388248 non-null  int64
 6   Address                  388206 non-null  object
 7   Contact Number           368894 non-null  object
 8   Email                    653 non-null     object
 9   Gender                   346494 non-null  object
 10  NID                      17907 non-null   object
 11  DOB                      175 non-null     object
 12  Department               363270 non-null  object
 13  Designation              382915 non-null  object
 14  Joining Date             388244 non-null  object
 15  Gross Salary             388248 non-null  float64
 16  Credit Limit             388133 non-null  float64
 17  isActive                 388248 non-null  int64
 18  dteLastActionDateTime    388248 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 56.3+ MB

In [60]:
import pandas as pd

# Perform a left join on 'APON Code', keeping all rows from df_null
merged_df = pd.merge(
    df_null,            # The dataframe with all rows to keep (df_null)
    df_non,             # The dataframe to merge with (df_non)
    on='APON Code',     # Merge on the 'APON Code' column
    how='left'          # Perform a left join to keep all rows from df_null
)

# Display the result
merged_df.head()

# Check the number of rows to ensure that all rows from df_null are retained
print(len(merged_df))

254

In [61]:
merged_df.head(10)

,APON Code,Outlet,Name,HR Code,Marital Status,Number of Family Member,Address,Contact Number,Email,Gender,NID,DOB,Department,Designation,Joining Date,Gross Salary,Credit Limit,isActive,dteLastActionDateTime
0,AP0030000055,Renaissance Apparels Ltd.,Md. Al Amin,10688,1,1,IslampurGazipurGazipur,1981403810,NaN,Male,19968927703100068,NaN,Store,Loader,2016-07-20 00:00:00.000,0.0,3840.0,0,2022-01-03 21:38:58.783
1,AP0030000065,Renaissance Apparels Ltd.,Md. Zahangir Alam,11289,1,1,NawjoreNawjoreGazipur Sadar,1941719153,NaN,Male,8913743786507,NaN,Cutting Staff,Machine Cutterman,2012-02-14 00:00:00.000,0.0,7076.7,0,2022-01-03 21:38:58.783
2,AP0030000067,Renaissance Apparels Ltd.,Md. Ashiqur Rahman,11311,1,1,IslampurIslampurGazipur,3734026991,NaN,Male,8515865831937,NaN,Cutting Staff,"Sr.Supervisor, Heatseal",2012-04-17 00:00:00.000,0.0,8160.0,0,2022-01-03 21:38:58.783
3,AP0030000312,Renaissance Apparels Ltd.,Md. Jashim,1301688,1,1,VograVograGazipur,1721565968,NaN,Male,19960410979002999,NaN,Sewing Operator,Sr.Operator,2016-03-02 00:00:00.000,0.0,4510.5,0,2022-01-03 21:38:58.783
4,AP0030000353,Renaissance Apparels Ltd.,Md. Nur Alam,11539,1,1,NawzoreNawzoreGazipur sadar,1404879695,NaN,Male,6112385891391,NaN,Cutting Staff,Cutting Supervisor,2016-11-17 00:00:00.000,0.0,8993.1,0,2022-01-03 21:38:58.783
5,AP0030000432,Renaissance Apparels Ltd.,Mst. Taslima Khatun,19771,1,1,MollaparaMollaparaGazipur Sadar,1304323559,NaN,Female,8819421827989,NaN,Sewing,ASMO,2017-05-07 00:00:00.000,0.0,3750.0,0,2022-01-03 21:38:58.783
6,AP0030000489,Renaissance Apparels Ltd.,Md. Abu Nayem,25409,1,1,VograVograGazipur Sadar,1902356919,NaN,Male,3759632460,NaN,Finishing,Packer,2017-10-11 00:00:00.000,0.0,6780.0,0,2022-01-03 21:38:58.783
7,AP0030000530,Renaissance Apparels Ltd.,Mst. Morzina Khatun,19959,1,1,NawjoreNawjoreGazipur,1918884644,NaN,Female,19946128308033621,NaN,Sewing Operator,Gr. Operator,2018-03-03 00:00:00.000,0.0,4065.0,0,2022-01-03 21:38:58.783
8,AP0030000547,Renaissance Apparels Ltd.,Md. Rezuanur Rahman,11662,1,1,IslampurIslampurGazipur Sadar,1987665609,NaN,Male,19918913712000084,NaN,Cutting,Gr. Bundling Man,2018-06-24 00:00:00.000,0.0,4065.0,0,2022-01-03 21:38:58.783
9,AP0030000612,Renaissance Apparels Ltd.,Md. Alam Miah,10741,1,1,MollaparaMollaparaGazipur,1989746360,NaN,Male,3918573996381,NaN,Store,Loader,2018-10-14 00:00:00.000,0.0,3840.0,0,2022-01-03 21:38:58.783

In [62]:
merged_df.to_excel('/content/Angel_october_null.xlsx', index=False)