<a href="https://colab.research.google.com/github/Risad-Raihan/ops_segmentation/blob/main/Lida_Top_Product_Margin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

In [5]:
df_Lida = pd.read_excel('/content/drive/My Drive/Lida.xlsx')

In [6]:
df_Lida.head(5)

,Date,Outlet,Item Code,Item Name,Item Sub Category,Big Block,Total Quantity,Total Sales Amount,Total_COGS,Final_COGS
0,2024-05-22,Lida Textile & Dyeing Limited,15552091,Aci Fun Fresh Fry 220 Gm,Non-Fried Snack,Snacks,2.0,76.0,31.36,62.72
1,2024-05-22,Lida Textile & Dyeing Limited,15552123,Aci Pure Chinigura Rice 1 Kg,Chinigura Rice,Commodities,4.0,660.0,138.00,552.00
2,2024-05-22,Lida Textile & Dyeing Limited,15552140,Aci Pure Mango Pickle 400 Gm,Pickle,Others,1.0,170.0,140.00,140.00
3,2024-05-22,Lida Textile & Dyeing Limited,15552160,Aci Pure Salt 1 Kg,Salt,Commodities,1.0,40.0,36.00,36.00
4,2024-05-22,Lida Textile & Dyeing Limited,15552176,Aci Pure Turmeric Powder 200 Gm,Spices,Commodities,2.0,240.0,97.00,194.00

In [7]:
df_prod = pd.read_excel('/content/drive/My Drive/Top_prod.xlsx')

In [8]:
df_prod.head(5)

   #SL                  Product_Name       Manufacturer_Name Sub_Category
0    1         Lactogen 1 350 Gm BIB  Nestlé Bangladesh Ltd.    Baby Food
1    2         Lactogen 2 350 Gm BIB  Nestlé Bangladesh Ltd.    Baby Food
2    3  Nestle Lactogen 1 400 Gm Tin  Nestlé Bangladesh Ltd.    Baby Food
3    4         Lactogen 3 350 Gm BIB  Nestlé Bangladesh Ltd.    Baby Food
4    5  Nestle Lactogen 2 400 Gm Tin  Nestlé Bangladesh Ltd.    Baby Food

In [9]:
df_Lida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10114 entries, 0 to 10113
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                10114 non-null  datetime64[ns]
 1   Outlet              10114 non-null  object
 2   Item Code           10114 non-null  int64
 3   Item Name           10114 non-null  object
 4   Item Sub Category   10114 non-null  object
 5   Big Block           10114 non-null  object
 6   Total Quantity      10114 non-null  float64
 7   Total Sales Amount  10114 non-null  float64
 8   Total_COGS          10114 non-null  float64
 9   Final_COGS          10114 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 790.3+ KB

In [10]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #SL                169 non-null    int64
 1   Product_Name       169 non-null    object
 2   Manufacturer_Name  169 non-null    object
 3   Sub_Category       169 non-null    object
dtypes: int64(1), object(3)
memory usage: 5.4+ KB

In [11]:
import pandas as pd

# Assuming df_Lida and df_prod are already loaded DataFrames

# Merging df_Lida with df_prod on the condition that Item Name matches Product_Name
result_df = pd.merge(df_Lida, df_prod, left_on='Item Name', right_on='Product_Name', how='inner')

# Selecting the required columns including the ones from df_prod
result_df = result_df[['Date', 'Outlet', 'Item Code', 'Item Name', 'Item Sub Category', 'Big Block', 'Total Quantity', 'Total Sales Amount', 'Total_COGS', 'Final_COGS', 'Manufacturer_Name', 'Sub_Category']]

# Display the resulting DataFrame
print(result_df.head())

        Date                         Outlet  Item Code  \
0 2024-05-22  Lida Textile & Dyeing Limited   15552091
1 2024-05-23  Lida Textile & Dyeing Limited   15552091
2 2024-05-24  Lida Textile & Dyeing Limited   15552091
3 2024-05-26  Lida Textile & Dyeing Limited   15552091
4 2024-05-28  Lida Textile & Dyeing Limited   15552091

                  Item Name Item Sub Category Big Block  Total Quantity  \
0  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             2.0
1  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             1.0
2  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             3.0
3  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             2.0
4  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             3.0

   Total Sales Amount  Total_COGS  Final_COGS Manufacturer_Name  \
0                76.0       31.36       62.72    ACI Foods Ltd.
1                38.0       31.36       31.36    ACI Foods Ltd.
2               114.0       31.36       94.08    ACI Foods Ltd.
3                76.0       31.36       62.72    ACI Foods Ltd.
4               114.0       31.36       94.08    ACI Foods Ltd.

      Sub_Category
0  Non-Fried Snack
1  Non-Fried Snack
2  Non-Fried Snack
3  Non-Fried Snack
4  Non-Fried Snack

In [12]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3279 entries, 0 to 3278
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                3279 non-null   datetime64[ns]
 1   Outlet              3279 non-null   object
 2   Item Code           3279 non-null   int64
 3   Item Name           3279 non-null   object
 4   Item Sub Category   3279 non-null   object
 5   Big Block           3279 non-null   object
 6   Total Quantity      3279 non-null   float64
 7   Total Sales Amount  3279 non-null   float64
 8   Total_COGS          3279 non-null   float64
 9   Final_COGS          3279 non-null   float64
 10  Manufacturer_Name   3279 non-null   object
 11  Sub_Category        3279 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 307.5+ KB

In [13]:
import pandas as pd

# Assuming result_df is already defined as per previous operations

# Calculate Margin(%) for each row
result_df['Margin(%)'] = ((result_df['Total Sales Amount'] - result_df['Final_COGS']) / result_df['Total Sales Amount']) * 100

# Display the updated DataFrame with the new Margin(%) column
print(result_df.head())

        Date                         Outlet  Item Code  \
0 2024-05-22  Lida Textile & Dyeing Limited   15552091
1 2024-05-23  Lida Textile & Dyeing Limited   15552091
2 2024-05-24  Lida Textile & Dyeing Limited   15552091
3 2024-05-26  Lida Textile & Dyeing Limited   15552091
4 2024-05-28  Lida Textile & Dyeing Limited   15552091

                  Item Name Item Sub Category Big Block  Total Quantity  \
0  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             2.0
1  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             1.0
2  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             3.0
3  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             2.0
4  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             3.0

   Total Sales Amount  Total_COGS  Final_COGS Manufacturer_Name  \
0                76.0       31.36       62.72    ACI Foods Ltd.
1                38.0       31.36       31.36    ACI Foods Ltd.
2               114.0       31.36       94.08    ACI Foods Ltd.
3                76.0       31.36       62.72    ACI Foods Ltd.
4               114.0       31.36       94.08    ACI Foods Ltd.

      Sub_Category  Margin(%)
0  Non-Fried Snack  17.473684
1  Non-Fried Snack  17.473684
2  Non-Fried Snack  17.473684
3  Non-Fried Snack  17.473684
4  Non-Fried Snack  17.473684

In [14]:
# Save DataFrame to Excel file in Colab's local environment
result_df.to_excel('/content/Lida_margin.xlsx', index=False)

In [15]:
import pandas as pd

# Assuming result_df is already defined and may have a Margin(%) column

# Check if 'Margin(%)' column exists and drop it if present
if 'Margin(%)' in result_df.columns:
    result_df = result_df.drop(columns=['Margin(%)'])

# Display the DataFrame after dropping the Margin(%) column
print(result_df.head())

        Date                         Outlet  Item Code  \
0 2024-05-22  Lida Textile & Dyeing Limited   15552091
1 2024-05-23  Lida Textile & Dyeing Limited   15552091
2 2024-05-24  Lida Textile & Dyeing Limited   15552091
3 2024-05-26  Lida Textile & Dyeing Limited   15552091
4 2024-05-28  Lida Textile & Dyeing Limited   15552091

                  Item Name Item Sub Category Big Block  Total Quantity  \
0  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             2.0
1  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             1.0
2  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             3.0
3  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             2.0
4  Aci Fun Fresh Fry 220 Gm   Non-Fried Snack    Snacks             3.0

   Total Sales Amount  Total_COGS  Final_COGS Manufacturer_Name  \
0                76.0       31.36       62.72    ACI Foods Ltd.
1                38.0       31.36       31.36    ACI Foods Ltd.
2               114.0       31.36       94.08    ACI Foods Ltd.
3                76.0       31.36       62.72    ACI Foods Ltd.
4               114.0       31.36       94.08    ACI Foods Ltd.

      Sub_Category
0  Non-Fried Snack
1  Non-Fried Snack
2  Non-Fried Snack
3  Non-Fried Snack
4  Non-Fried Snack

In [16]:
import pandas as pd

# Assuming result_df is already defined

# Convert Date column to datetime if not already
result_df['Date'] = pd.to_datetime(result_df['Date'])

# Extract month from the Date column
result_df['Month'] = result_df['Date'].dt.month

# Dropping the original Date column as it is no longer needed
result_df = result_df.drop(columns=['Date'])

# Grouping by the Month and other categorical columns, you can adjust the aggregation as needed
# For numerical columns like Total Quantity, Total Sales Amount, Final_COGS, you might want to sum these
grouped_df = result_df.groupby(['Month', 'Outlet', 'Item Code', 'Item Name' ]).agg({
    'Total Quantity': 'sum',
    'Total Sales Amount': 'sum',
    'Total_COGS': 'sum',
    'Final_COGS': 'sum'       # Assuming you want to just keep the first occurrence
}).reset_index()

# Display the grouped DataFrame
print(grouped_df.head())

   Month                         Outlet  Item Code  \
0      5  Lida Textile & Dyeing Limited   15552091
1      5  Lida Textile & Dyeing Limited   15552120
2      5  Lida Textile & Dyeing Limited   15552137
3      5  Lida Textile & Dyeing Limited   15552160
4      5  Lida Textile & Dyeing Limited   15552291

                       Item Name  Total Quantity  Total Sales Amount  \
0       Aci Fun Fresh Fry 220 Gm            19.0               722.0
1  Aci Pure Chilli Powder 200 Gm             2.0               370.0
2   Aci Pure Lachha Shemai 200Gm             1.0                43.0
3             Aci Pure Salt 1 Kg            31.0              1240.0
4  Bashundhara Soybean Oil 2 Ltr             5.0              1630.0

   Total_COGS  Final_COGS
0     250.880    595.8400
1     320.000    320.0000
2      39.200     39.2000
3     324.000   1116.0000
4    1269.706   1587.1325

In [17]:
grouped_df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Month               474 non-null    int32
 1   Outlet              474 non-null    object
 2   Item Code           474 non-null    int64
 3   Item Name           474 non-null    object
 4   Total Quantity      474 non-null    float64
 5   Total Sales Amount  474 non-null    float64
 6   Total_COGS          474 non-null    float64
 7   Final_COGS          474 non-null    float64
dtypes: float64(4), int32(1), int64(1), object(2)
memory usage: 27.9+ KB

In [18]:
import pandas as pd

# Assuming grouped_df is already defined as per previous operations

# Calculate Margin(%) for each row in the grouped DataFrame
grouped_df['Margin(%)'] = ((grouped_df['Total Sales Amount'] - grouped_df['Final_COGS']) / grouped_df['Total Sales Amount']) * 100

# Display the updated DataFrame with the new Margin(%) column
print(grouped_df.head())

   Month                         Outlet  Item Code  \
0      5  Lida Textile & Dyeing Limited   15552091
1      5  Lida Textile & Dyeing Limited   15552120
2      5  Lida Textile & Dyeing Limited   15552137
3      5  Lida Textile & Dyeing Limited   15552160
4      5  Lida Textile & Dyeing Limited   15552291

                       Item Name  Total Quantity  Total Sales Amount  \
0       Aci Fun Fresh Fry 220 Gm            19.0               722.0
1  Aci Pure Chilli Powder 200 Gm             2.0               370.0
2   Aci Pure Lachha Shemai 200Gm             1.0                43.0
3             Aci Pure Salt 1 Kg            31.0              1240.0
4  Bashundhara Soybean Oil 2 Ltr             5.0              1630.0

   Total_COGS  Final_COGS  Margin(%)
0     250.880    595.8400  17.473684
1     320.000    320.0000  13.513514
2      39.200     39.2000   8.837209
3     324.000   1116.0000  10.000000
4    1269.706   1587.1325   2.629908

In [20]:
# Save DataFrame to Excel file in Colab's local environment
grouped_df.to_excel('/content/Lida_margin2.xlsx', index=False)